// Colors
$mainBg: hsl(0, 0%, 100%);
$headerBg: hsl(38, 50%, 97%);
$cardBg: hsl(180, 61%, 90%);
$btnBg: hsl(203, 89%, 53%);

$bold: hsl(196, 66%, 36%);
$black: hsl(0, 0%, 0%);
$secondaryColor:rgb(106,105,103);
$border: hsl(38, 100%, 57%);

// Media queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Typography
$primaryFont: 'Inter', sans-serif;
