@use "../base/variables" as v;
@use "../base/mixins" as m;

.testimonial {
  background-color: v.$cardBg;
  padding: 5rem 0;

  &__heading {
    max-width: 37.5rem;
    font-size: 3.5rem;
    @include m.tablet { 
      max-width: 140rem;
    }
  }

  &__grid {
    margin-top: 3rem;
    @include m.grid(1, 2rem);
    max-width: 37.5rem;
    @include m.tablet { 
      @include m.grid(3,2rem);
      max-width: 140rem;
      align-items: start;
      justify-items: center;
    }
  }

  &__box {
    background-color: v.$mainBg;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__avatar {
    width: 6rem;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__id {
    font-size: 1.4rem;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__likes {
    display: flex;
    gap: 1rem;
  }
}
